%h1 Listing products

%table
  %tr
    %th Name
    %th Show
    %th Edit
    %th Delete

  - @products.each do |product|
    %tr
      %td= product.name
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete

%br/

= link_to 'New Product', new_product_path
%br/
= link_to 'Export All', (export_products_path :format => :json)
%br/
%br/
%form{ :method => "post", :action => clear_products_path }
  %input{ :type => "submit", :value => "Clear All" }/
- form_tag import_products_path, :multipart => true do
  = label_tag :file, "Import Products:"
  = file_field_tag :file
  = submit_tag "Upload"
