%h2 Products List

%table
  %tr
    %th Name
    %th Show
    %th Edit
    %th Delete

  - @products.each do |product|
    %tr
      %td= product.name
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Product', new_product_path

%br/
%br/
%br/

%h2 Bulk Admin
%div.bulk.box
  - form_tag import_products_path, :multipart => true do
    = label_tag :file, "Import"
    = file_field_tag :file
    = submit_tag "Upload"

  %br/
  - form_tag clear_products_path do
    = label_tag "Delete"
    = submit_tag "Delete All"

  - form_tag (export_products_path :format => :json) do
    = label_tag "Export"
    = submit_tag "Export All"
