!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    -#= stylesheet_link_tag "application"
    = stylesheet_link_extjs
    = javascript_include_extjs
    = javascript_include_tag :defaults, 'app', 'app/search/ComboBox', 'app/search/GridPanel'
    = csrf_meta_tag
    = yield(:head)

  %body
